.left-section {
	background-image: image-url("front-image3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 30%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	font-family:'EB Garamond', serif;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px;
	-moz-box-shadow:    1px 0 0 0 rgba(0,0,0,0.3);
  	-webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.3);
  	box-shadow:         1px 0 0 0 rgba(0,0,0,0.3);
  	
	.overview-container {
		position: absolute;	
		left: 8%;
		bottom: 6%;
		margin-left: 0;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 22px;
		margin-top: -20px;
	}

	.homepage-divider {
		height: 1px;
		width: 100%;
		background-color: white;
		opacity: 0.5;
	}

	.sign-up, .editor-info {
		margin-top: -37px;
		margin-left: 160px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		font-size: 13px;
		a {
			color: white;
			text-decoration: none;
			border-bottom: 1px dotted white;
		}
	}

	.editor-info {
		margin-top: 30px;
		margin-left: 0;
	}

	.info-bar {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		font-size: 12px;
		list-style: none;
		position: absolute;	
		bottom: 1%;
		left: 0%;
		li {
			display: inline;
			padding: 5px;
		}
		a {
			color: white;
			text-decoration: none;
			border-bottom: 1px dotted white;
		}
	}
}