.homepage-container {
	background-image: asset-url("background-image.png", image);
	background-repeat: no-repeat;
	height: 1000px;
	width: 100%;
}

.homepage-tagline{
	position: absolute;
	margin-top: 180px;
	margin-left: 80px;
	width: 600px;
	color: white;
	text-align: right;
	opacity: 0.8;
	h1 {
		font-size: 90px;
		line-height: 46px;	
	}
	h2 {
		margin-top: 40px;
		text-align: center;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 38px;
		line-height: 29px;
	}
}

.home-form {
	position: absolute;
	width: 260px;
	background: #E2E2E2;
	opacity: 0.95;
	border-radius: 5px;
}

.sign-in-form {
	position: absolute;
	top: 170px;
	right: 180px;
	.login-fields {
		padding-top: 16px;
		padding-left: 20px;
	}
	.login-button {
		margin-bottom: 10px;
	}
}

.sign-up-form {
	position: absolute;
	top: 300px;
	right: 180px;	
	height: 240px;
	width: 260px;
	padding-top: 10px;
	p {
		padding-left: 20px;
		font-size: 16px;
	}
}