<div class="home-form sign-in-form">

  <%= form_tag session_path, :method => :post do %>
    <div class="login-fields">
      <%= text_field_tag :email, params[:email], placeholder: "Email address", class: "input-block-level span3" %>
      <%= password_field_tag :password, '', placeholder: "Password", class: "span2" %>
      <%= submit_tag 'Login', class: 'btn btn-primary login-button' %>
    </div>
  <% end %>
</div>