.post-overview {
	padding-top: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(222, 222, 220);	
}

.post-overview, a {
	color: rgb(51, 51, 50);
	text-decoration: none;
	.title {
		float: left;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		font-size: 26px;
		font-weight: bold;
		line-height: 30px;
		width: 550px;
	}
	.profile-picture {
		float: right;
		width: 60px;
		height: 60px;
		margin-bottom: -18px;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		box-shadow: 0 0 6px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .8);
	}
	.subline, .subline a {
		margin: 15px 0;
		font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
		font-size: 16px;
		color: rgba(128, 128, 128, 0.77);
	}
	.subline span {
		border-bottom: 1px dotted rgba(128, 128, 128, 0.77);
	}
	.text {
		margin: 10px 0;
		font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
		font-size: 18px;
		color: rgb(51, 51, 50);
		letter-spacing: 1px;
		line-height: 24px;
	}
	&:hover {
		color: black;
		text-decoration: none;
	}
}