<div class="span5 newpost">
  <%= f.text_field :title, placeholder: "Title", class: "input-block-level" %>
  <%= f.text_area :body, placeholder: "Your Post", class: "input-block-level", rows: "5" %>
  <%= f.submit 'Create New Post', class: 'btn btn-primary span2' %>
</div>

