<div class="text-container">
	
	

  <div class="user-container">
		<div class="user-info">
			<h3><%= user_name(@user) %></h3>
			

			<%= image_tag @user.profile_picture_url.to_s, :class => "profile-picture" %>
			<h5><%= @user.teaser %></h5>
			
			<h6><%= @user.description %></h6>
				
		
		
			
		</div>



		<!-- Display list of all posts -->
		<div class="posts-container">
			<h2>Latests posts</h2>
			
		</div>
	</div>

</div>



