<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="flashes alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" onclick="$('.alert').hide()">&times;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>