<div class="homepage-container">

	<div class="homepage-tagline">
		<h1>Welcome to <span style="color:#9EC5FF; font-family:'Pacifico'; font-size:100px">Lawyerly</span>!</h1>
		<h2>Find interesting content, connect with other lawyers and build your personal brand...</h2>
	</div>

	<%= render '/shared/flashes' %>
	
	<%= render "/sessions/new" %>

	<%= render "/users/newuser", :user => User.new %> 

</div>