<div class="left-section">

	<div class="overview-container">
		<h1>Lawyerly</h1>
		<h2>Die Plattform für Schweizer Juristen.</h2>
		<h3>Neues. Juristisches. Menschliches.</h3>
		<div class="homepage-divider"></div>
		<a href="#"><div class="sign-in">Anmelden</div></a>
		<p class="sign-up">Neu auf Lawyerly?<br>Registrieren Sie sich <a href="#sign-up-form" rel="modal:open">hier</a>.</p>
	</div>
</div>

<!-- Sign-up Modal -->
<%= render 'sign_up_modal' %>


<div class="right-section">

	<div class="text-area">

		<div class="divider-bar top-divider-bar">
			<a href="#">Empfohlen von Lawyerly <span>Mehr ></span></a>
		</div>

		<!-- Empfehlungspost von Lawyerly -->
		<%= render 'shared/postoverview', :post => @posts.first %>
	
		<div class="divider-bar">
			Neuste Beiträge
		</div>

		<!-- Neuste Beiträge -->
		<% @posts.each do |post| %>
			<%= render 'shared/postoverview', :post => post %>
		<% end %>

	</div>
</div>

