/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


// ======================
// Document structure
// ======================

#clearfix {
	clear: both;
}

html, body { 
	height: 100%; 
	background-color: #F6F6F6; 
}

#container {
	min-height: 100%; 
	background-color: #F6F6F6; 
}

.text-container {
	padding-top: 60px;
	background-color: #F6F6F6;
	width: 100%;
}

.users-list-container {
	float: right;
	width: 250px;
	height: auto;
	background-color: white;
	color: #333;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #E6E6E6;
	padding: 30px 60px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 200;
	h4 {
		font-size: 26px;
		padding-bottom: 20px;
	}
	p {
		padding-top: 5px;
	}
}

// ======================
// Flash messages
// ======================

.flashes {
	width: 400px;	
	font-size: 12px;
	margin: auto;
	line-height: 16px;
}

// ======================
// Navbar
// ======================

.navbar-inner {
	color: #BBB;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
	height: 40px;
	li {
		margin-left: 5px;
		margin-right: 20px;
	}
}

.search-form {
	float: right;
	height: 16px;
	margin-top: -36px;
	margin-right: 32px;
}

.search-input-hide {
	display: none;
}

#search-results {
	float: right;
	background-color: black;
	width: 230px;
	height: auto;
	padding-left: 14px;
	margin-right: 192px;
	margin-top: -20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	opacity: 0.85;
	line-height: 30px;
	color: white;
}

.search-link {
	display: block;
	color: #999999;
	height: 44px;
	&:hover {
		color: white;
		text-decoration: none;
		}
}

.nav-right {
	float: right;
	right: 20px;
	line-height: 40px;
	font-size: 14px;
	text-decoration: none;
	margin-right: 15px;	
}

.sign-out {
	padding-left: 10px;
	&:hover {
		text-decoration: none;
		color: white;
	}
}

.icon-white {
	float: left;
	position: absolute;
	top: 11px;
}

#navdropdown-newpost, #navdropdown-notifications {
	display: none;
	background-color: black;
	padding-bottom: 20px;
	width: 420px;
	height: 190px;
	padding-top: 12px;
	margin-left: 450px;
	margin-top: -21px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#navdropdown-notifications {
	width: 290px;
	height: auto;
	margin-left: 553px;
	padding-bottom: 3px;
	padding-left: 15px;
	opacity: 0.85;
	line-height: 15px;
	color: white;
	.notification {
		display: block;
		color: #999999;
		padding-top: 5px;
		padding-bottom: 5px;	
		p {
			text-decoration: none;
		}
		span {
			font-weight: bold;
		}
		.title-correct {
			margin-left: 44px;
			margin-top: -6px;
		}
		.divider {
			border-bottom: 1px solid #999999;
			margin-right: 12px;
			margin-bottom: 10px;
			opacity: 0.8;
		}
	&:hover {
		color: white;
		text-decoration: none;
		}
	}
}

#notification-bubble {
	float: right;
	margin-left: 100px;
	margin-top: -36px;
	background-image: asset-url('notification-bubble.png', image);
	background-repeat: no-repeat;
	height: 32px;
	width: 26px;
	font-size: 12px;
	color: white;
	padding-left: 7px;
}

// ======================
// Footer
// ======================

#footer {
	clear: both;
	width:100%;
	height:80px;  
	padding-top: 15px; 
	background-color: #E9E9E9;
	color: #A7A9AA;
	opacity: 0.75;
	text-decoration: none;
	ul {
		text-align: center;
	}
	li {
		display: inline;
		padding-left: 12px;
		padding-right: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 15px;
		.css-mouseover {
			color: gray;
			text-decoration: none;
		}
	}
	p {
		margin-top: 10px;
		text-align: right;
	}
	#footer-inner {
		margin: auto;
		width: 60%;
	}
	.footer-divider {
		border-bottom: 1px solid #A7A9AA;
		margin-left: 28px;
	}
}
// ======================
// Profile pictures 
// ======================

.profile_picture {
	border-radius: 5px;
}

.thumb_profile_picture {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
}

.small_thumb_profile_picture {
	float: left;
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 5px;
}

.small_thumb_correction {
	margin-left: -25px;
}

