.user-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30%;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	-moz-box-shadow:    1px 0 0 0 rgba(0,0,0,0.3);
  	-webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.3);
  	box-shadow:         1px 0 0 0 rgba(0,0,0,0.3);
}

.background-image-container {
	background-size: 100%;
	width: 100%;
}

.arrow-box {
	position: absolute;
	right: 0;
	top: 40px;
	height: 30px;
	vertical-align: middle;
	background: #88b7d5;
	border: 3px solid #c2e1f5;
	color: white;
	font-size: 12px;
	line-height: 30px;
	padding: 0 5px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.arrow-box:after, .arrow-box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}

.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 16px;
	left: 50%;
	margin-left: -16px;
}

.user-picture {
	margin-left: 35%; // TODO make this adapt according to screen
	margin-top: -60px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 3px solid white;
	-moz-box-shadow:    1px 0 0 0 rgba(0,0,0,0.3);
  	-webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.3);
  	box-shadow:         1px 0 0 0 rgba(0,0,0,0.3);
}

.user-info {
	margin-top: 20px;
	text-align: center;
	.name {
		padding-bottom: 10px;
		font-size: 24px;
		font-weight: bold;
	}
	.teaser {
		font-size: 16px;
		color: rgba(128, 128, 128, 0.77);
	}
	.author-divider {
		border-bottom: 1px solid rgb(222, 222, 220);
		width: 150px;
		margin: 20px auto;
	}
	.email {
		color: rgba(128, 128, 128, 0.77);
	}

}

.no-posts-message {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 20px;
	color: rgba(128, 128, 128, 0.77);
	font-weight: bold;
	text-align: center;
	width: 500px;
	margin-top: 50%;
	margin-left: 25%;
	span {
		font-weight: normal;
		font-size: 18px;
	}
	a {
		color: rgba(128, 128, 128, 0.77);
		text-decoration: none;
		border-bottom: 1px dotted rgba(128, 128, 128, 0.77);
	}

}