<div id='footer'>
	<div id="footer-inner">
		<ul>
			<li><a href="#">News</li></a>
			<li>|</li>
			<li><a href="#">Testimonials</li></a>
			<li>|</li>
			<li><a href="#">Pricing</li></a>
			<li>|</li>
			<li><a href="#">Legal</li></a>
			<li>|</li>
			<li><a href="#">Privacy</li></a>
			<li>|</li>
			<li><a href="#">About</li></a>
			<li>|</li>
			<li><a href="#">Careers</li></a>
		</ul>
		<div class="footer-divider"></div>
		<p>© 2011 - 2013 Lawyerly, Inc. All rights reserved.</p>
	</div>
</div>