<!DOCTYPE html>
<html>
<head>
  <title>Lawyerly</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="logo-fixer">
		<a href="/"><div id="logo">Lawyerly</div></a>
	</div>

	<%= yield %>


</body>
</html>
